<aside>
	<div class="panel radius">
		<h3>Visit Us</h3>
		<p>
			<a href="https://github.com/embedded-machine-learning">Our GitHub Repositories</a><br>
			<a href="https://github.com/embedded-machine-learning/annette">ANNETTE</a><br>
			<a href="https://github.com/embedded-machine-learning/eml-mobile-photo-app">EML Object Detection Android App</a><br>
			<a href="https://github.com/embedded-machine-learning/scripts-and-guides">Scripts and Guides by CDL EML</a><br>
		</p>
	</div>

  <!--
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>-->
</aside>
